.dog-picture {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

.gallery {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    height: 300px;
}

.photo {
    min-width: px;
    display: flex;
    justify-content: center;
}