button {
  border: none;
  height: 60px;
  min-width: 60px;
  border-radius: 120px;
  cursor: pointer;
  background-color: #b8dfff;
  font-size: 24px;
}

button:hover {
  background-color: #3ba6ff;
}

button:active {
  background-color: #155387;
  color: white;
}

.counter {
  height: fit-content;
  display: flex;
  align-items: center;
}

.count {
  font-size: 48px;
  font-weight: 600;
  padding: 0 12px;
  min-width: 120px;
  text-align: center;
}

.reset {
  background-color: #8d1313;
  color: white;
}